<app-page-wrapper>  <!--todo text: use text constants-->
  <div class="d-float align-self-center" style="width: 75%; margin: auto">
    <widget-progress-buttons [next]="nextStepEvent"></widget-progress-buttons>
  </div>
  <p class="display-6 text-center">{{text.TITLES["TITLE_" + id]}}</p>
  <a (click)="nextStep()" [hidden]="false"
     [ngClass]="{ 'disabled': !isStepComplete() }"
     class="btn btn-primary float-end my-3" role="button"
  >   <!--todo program: hide button on 7th step-->
    {{text.NEXT_STEP}}
  </a>
</app-page-wrapper>
