.overlap-top-40 {
  margin-top: -40px;
}
.bottom-20 {
  bottom: 20px;
}

.content-panel {
  flex-direction: column;
  align-items: stretch;
  // margin-left: -6rem;  /*todo quest page aspect: content movement to left side*/
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.fixed-panel {
  position: fixed;
  width: 310px;
  // z-index: -1; /*todo quest page aspect: find better solution for zoom in problem*/
}

.header-score {
  position: absolute;
  top: 50%; /*todo: 4 duplicates lines for score*/
  transform: translate(0, -50%);
  z-index: 100;
  right: 4rem;
}

.score-holder {
  position: relative;
  display: inline-flex;

  .score {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    right: -3rem;
  }
}

/* Overwritten */
.nav-link {
  display: block;
  padding: 0 0.5rem;
  font-size: smaller;
}

.accordion-header {
  position: relative;
  display: flex;
}

/*position: absolute;
    right: 3rem;
    top: -1rem;*/
