/* Customize Bootstrap Theme*/
@import "functions";
@import "variables";

$primary: rgba(255, 204, 0, 0.47);
$secondary: #dd2222;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

/* Bootstrap */
@import 'bootstrap';

/* Styles */
#bg {
  position: fixed;
  top: 0;
  left: 0;

  // preserve aspect ratio
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Angular File Uploader custom */
.afu-upload-btn, .afu-reset-btn {
  float: right;
}

.afu-reset-btn {
  color: white !important;
}

.afu-dragndrop-box {
  width: auto !important;
}
