/* Customize Bootstrap Theme*/
@import "functions";
@import "variables";

$primary: #ffcc00;
$secondary: #dd2222;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

/* Bootstrap */
@import 'bootstrap';

/* Styles */
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
