<app-modal-wrapper (closeModalEvent)="closeModal()" title="{{text.HOME.AUTH}}">
  <form #authForm="ngForm" novalidate>
    <div *ngIf="badCredentials" class="alert alert-danger">
      {{text.MODAL.WRONG_CREDENTIALS}}
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputEmail">{{text.MODAL.EMAIL}}</label>
      <input [(ngModel)]="email" class="form-control" email
             id="inputEmail" name="email" pattern=".+@.+\..+"
             required type="email">
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputPassword">{{text.MODAL.PASSWORD}}</label>
      <input #pass="ngModel" [(ngModel)]="password" class="form-control"
             id="inputPassword" name="password"
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,200}$" required type="password">
      <div *ngIf="pass.invalid && !pass.pristine" class="alert alert-danger">
        <div *ngIf="pass.errors?.pattern">
          {{text.MODAL.PASS_ERROR_1}} <br>
          {{text.MODAL.PASS_ERROR_2}}
        </div>
      </div>
    </div>
  </form>
  <div footer>
    <span class="d-inline-block" data-bs-toggle="tooltip" tabindex="0" title="Toate campurile sunt obligatorii.">
      <button (click)="onSubmit()" [disabled]="!authForm.form.valid" class="btn btn-success"
              type="submit">{{text.MODAL.AUTH}}</button>
    </span>
  </div>
</app-modal-wrapper>
